@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'); 
 
 body {
  font-family: $font-primary;
  font-size: 1.2rem;
  line-height: 160%;
  background: lighten($rgba-primary-0, 20);
  color: $rgba-secondary-1-2;
}

h3 {
   @include text-shadow(rgba(blue, 0.2) 1px 1px 0, rgba(blue, 0.2) 2px 2px 0, rgba(blue, 0.2) 3px 3px 0);
  font-size: 2.2rem;
  color: $darkblue;
  margin-bottom: .4rem;
  border-bottom: 1px solid $lightgray;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: $rgba-secondary-1-0;
}