@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Indie+Flower|Bree+Serif|Merriweather|Pacifico|Architects+Daughter);
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 4, ../components/sass/_base.scss */
body {
  font-family: Merriweather, serif;
  font-size: 1.2rem;
  line-height: 160%;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBiOTVmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYjk1ZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url('../../images/sea.png?1434720605');
  background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, rgba(11, 149, 255, 0.6)), color-stop(100%, rgba(11, 149, 255, 0))), url('../../images/sea.png?1434720605');
  background: -moz-linear-gradient(bottom left, rgba(11, 149, 255, 0.6), rgba(11, 149, 255, 0)), url('../../images/sea.png?1434720605');
  background: -webkit-linear-gradient(bottom left, rgba(11, 149, 255, 0.6), rgba(11, 149, 255, 0)), url('../../images/sea.png?1434720605');
  background: linear-gradient(to top right, rgba(11, 149, 255, 0.6), rgba(11, 149, 255, 0)), url('../../images/sea.png?1434720605');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 30% 20%;
  color: #0A2933; }

/* line 15, ../components/sass/_base.scss */
h3 {
  text-shadow: rgba(209, 28, 36, 0.4) 5px -3px 0, rgba(33, 118, 199, 0.4) 20px 2px 0, rgba(89, 90, 183, 0.5) 46px 19px 0;
  font-family: "Pacifico", cursive;
  font-size: 6.2rem;
  color: #0A2933;
  margin-bottom: 4.5rem;
  padding-top: 35px; }

/* line 24, ../components/sass/_base.scss */
a {
  text-decoration: none;
  color: #ffbf00; }

/* line 29, ../components/sass/_base.scss */
p {
  color: black;
  font-weight: 900;
  line-height: 3.2rem;
  font-size: 1.7rem; }

/* line 37, ../components/sass/_base.scss */
legend {
  font-size: 2rem;
  line-height: 3rem; }

/* line 14, C:/Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 16, ../components/sass/_layout.scss */
.wrapper {
  *zoom: 1;
  max-width: 61em;
  _width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3%; }
  /* line 38, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

/* line 23, ../components/sass/_layout.scss */
.warning {
  background: #FFBF00; }

/* line 29, ../components/sass/_layout.scss */
.forms {
  height: 535px;
  margin-top: 1.2rem;
  background: #ff4900;
  -moz-box-shadow: rgba(33, 118, 199, 0.4) 0 0 25px, rgba(115, 138, 5, 0.2) 0 0 3px 1px inset;
  -webkit-box-shadow: rgba(33, 118, 199, 0.4) 0 0 25px, rgba(115, 138, 5, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(33, 118, 199, 0.4) 0 0 25px, rgba(115, 138, 5, 0.2) 0 0 3px 1px inset;
  padding: 2%; }
  /* line 35, ../components/sass/_layout.scss */
  .forms .register {
    float: left;
    border-right: 1px #0A2933 solid;
    max-width: 500px;
    padding-right: 1%;
    padding-top: 3%; }
    /* line 43, ../components/sass/_layout.scss */
    .forms .register p {
      float: right;
      display: block-inline;
      clear: left; }
      /* line 47, ../components/sass/_layout.scss */
      .forms .register p label {
        width: 150px;
        font-size: 1.4rem; }
      /* line 52, ../components/sass/_layout.scss */
      .forms .register p input {
        -moz-border-radius: 38px;
        -webkit-border-radius: 38px;
        border-radius: 38px;
        border: 3px solid #0A2933;
        width: 200px;
        height: 30px;
        padding-left: 10px; }
    /* line 61, ../components/sass/_layout.scss */
    .forms .register input[type="submit"] {
      margin: 30px;
      float: right;
      border: none;
      background: #EAE3CB;
      padding: 10px 40px;
      font-size: 1.2rem;
      -moz-box-shadow: rgba(33, 118, 199, 0.4) 0 0 25px, rgba(115, 138, 5, 0.2) 0 0 3px 1px inset;
      -webkit-box-shadow: rgba(33, 118, 199, 0.4) 0 0 25px, rgba(115, 138, 5, 0.2) 0 0 3px 1px inset;
      box-shadow: rgba(33, 118, 199, 0.4) 0 0 25px, rgba(115, 138, 5, 0.2) 0 0 3px 1px inset; }
  /* line 71, ../components/sass/_layout.scss */
  .forms .login {
    float: left;
    max-width: 500px;
    padding-left: 1%;
    padding-top: 3%; }
    /* line 78, ../components/sass/_layout.scss */
    .forms .login p {
      float: left;
      display: block-inline;
      clear: left; }
      /* line 82, ../components/sass/_layout.scss */
      .forms .login p label {
        width: 150px;
        font-size: 1.4rem;
        display: inline-block; }
      /* line 88, ../components/sass/_layout.scss */
      .forms .login p input {
        -moz-border-radius: 38px;
        -webkit-border-radius: 38px;
        border-radius: 38px;
        border: 3px solid #0A2933;
        width: 200px;
        height: 30px;
        padding-left: 10px; }
    /* line 97, ../components/sass/_layout.scss */
    .forms .login input[type="submit"] {
      margin: 30px;
      float: right;
      border: none;
      background: #EAE3CB;
      padding: 10px 40px;
      font-size: 1.2rem;
      -moz-box-shadow: rgba(33, 118, 199, 0.4) 0 0 25px, rgba(115, 138, 5, 0.2) 0 0 3px 1px inset;
      -webkit-box-shadow: rgba(33, 118, 199, 0.4) 0 0 25px, rgba(115, 138, 5, 0.2) 0 0 3px 1px inset;
      box-shadow: rgba(33, 118, 199, 0.4) 0 0 25px, rgba(115, 138, 5, 0.2) 0 0 3px 1px inset; }

/* line 111, ../components/sass/_layout.scss */
.trackerform {
  height: 700px;
  margin-top: 1.2rem;
  background: #ff4900;
  -moz-box-shadow: rgba(33, 118, 199, 0.4) 0 0 25px, rgba(115, 138, 5, 0.2) 0 0 3px 1px inset;
  -webkit-box-shadow: rgba(33, 118, 199, 0.4) 0 0 25px, rgba(115, 138, 5, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(33, 118, 199, 0.4) 0 0 25px, rgba(115, 138, 5, 0.2) 0 0 3px 1px inset;
  padding: 2%; }

/* line 121, ../components/sass/_layout.scss */
nav {
  background: #2390b3; }
  @media (min-width: 30em) {
    /* line 123, ../components/sass/_layout.scss */
    nav ul {
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      *zoom: 1; }
      /* line 62, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
      nav ul li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        white-space: nowrap;
        float: left;
        padding-left: 4px;
        padding-right: 4px; }
        /* line 49, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
        nav ul li:first-child {
          padding-left: 0; }
        /* line 50, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
        nav ul li:last-child {
          padding-right: 0; }
        /* line 52, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
        nav ul li.last {
          padding-right: 0; } }
  /* line 128, ../components/sass/_layout.scss */
  nav ul li i {
    color: #f7b71a;
    padding-right: .5em; }
  /* line 133, ../components/sass/_layout.scss */
  nav ul li a.onblack {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    display: block;
    text-decoration: none;
    padding: 5px 10px; }
    /* line 139, ../components/sass/_layout.scss */
    nav ul li a.onblack:hover {
      background: #ff4900;
      color: #0A2933; }
    /* line 144, ../components/sass/_layout.scss */
    nav ul li a.onblack a.user {
      color: #ff4900; }
      /* line 146, ../components/sass/_layout.scss */
      nav ul li a.onblack a.user:hover {
        color: #EAE3CB; }
